/* Reset all margins and padding */
* {
	margin:0;
	outline: none;
	padding:0;
}

/* Import custom Digital clock font */
@font-face {
    font-family:"Digital";
    src: url(../font/Digital.ttf);
}

html {
	background:#c4c4c4;
	color:#000;
}

body {
	background:#a8a8a8;
	height:460px;	
	margin:0 auto;
	width:320px;
}

/* Stopwatch form element */
form#stopwatch {
	background:inherit;
	height:420px;
	margin:0 auto;
	padding:20px;
	width:280px;
}

/* Display text input element */
input[type="text"]#display {
	background:#000;
	border:none;
	color:#0a0;
	font-family:"Digital", monospace;	
	font-size:56px;
	height:64px;
	margin:0 auto;
	text-align:center;
	width:280px;
}

/* Stopwatch input buttons */
input[type="button"] {
  background:#ddd;
	color:#44a;
	font-size:16px;
	font-weight:bold;
	height:36px;
	margin:10px 0px;
	padding:0px;
	text-align:center;
	width:80px;
}

/* Split time text area */
textarea#split_time_ara {
	background:#c4c4c4;
	border:none;
	color:#444;
	font-family:Consolas,"Lucida Console","Courier New",monospace;
	font-size:16px;
	font-weight:bold;
	height:280px;
	margin:0 auto;
	resize:none;
	width:100%;
}

span.spacer {
display:inline-block;	
width:20px;
}