* {
	margin:0;
	padding:0;
}

@font-face {
    font-family:"Digital";
    src: url(../font/Digital.ttf);
}

html {
	background:#c4c4c4;
	color:#000;
}

body {
	width:320px;
	height:356px;
	margin:0 auto;
	background:#a8a8a8;
	margin:0 auto;
	padding:20px;
}

#display {
	background:#000;
	font-family:"Digital", monospace;	
	color:#080;
	font-size:4em;
	text-align:center;
	width:280px;
	height:64px;
	margin:0 auto;
	margin-bottom:20px;
}

form {
	margin:0 auto;
	width:280px;
	height:80px;
	background:green;
}

input[type="button"] {
  background:#ddd;
	color:#44a;
	width:80px;
	height:2em;
	font-size:1.5em;
	font-weight:bold;
	margin:0 5.25px;
}

#split {
	margin:0 auto;
	width:80%;
	height:100%;
	background:red;
}

footer {
	font-size:smaller;
	text-align:center;
	display:block;
}